*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    border-radius: 10px;
}